*.iml
.gradle
/local.properties
/.idea/
!/.idea/vcs.xml
!/.idea/runConfigurations.xml
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.artifacts/
.agent/
*.artifact.md
*.log
